td {
  white-space: nowrap;
  border: 1px solid #CCC;
  text-align: center;
  vertical-align: middle;
}
td > input {
  width: 100%;
  margin: -1px;
}
a#import_anchor, a#export_anchor {
  padding: 5px;
}
input#import_input {
  display: none;
}
